
@{
    ViewBag.Title = "Chat Web Client";
}

<h2>Chat Web Client</h2>

<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
            <chat-window></chat-window>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <chat-sender></chat-sender>
        </div>
    </div>
</div>